In [3]:
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [4]:
#sourcing data, will import when all neded data located.
btc_val = pd.read_csv('../data/btc_usd.csv')
btc_val.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,9/17/2014,465.864014,468.174011,452.421997,457.334015,457.334015,21056800.0
1,9/18/2014,456.859985,456.859985,413.104004,424.440002,424.440002,34483200.0
2,9/19/2014,424.102997,427.834991,384.532013,394.795990,394.795990,37919700.0
3,9/20/2014,394.673004,423.295990,389.882996,408.903992,408.903992,36863600.0
4,9/21/2014,408.084991,412.425995,393.181000,398.821014,398.821014,26580100.0

In [11]:
btc_val.value_counts()

Date        Open          High          Low           Close         Adj Close     Volume
1/1/2015    320.434998    320.434998    314.002991    314.248993    314.248993    8.036550e+06    1
5/5/2017    1540.869995   1618.030029   1530.310059   1555.449951   1555.449951   9.460360e+08    1
5/5/2019    5831.068359   5833.862793   5708.035156   5795.708496   5795.708496   1.480883e+10    1
5/5/2020    8912.832031   9062.415039   8856.827148   9003.070313   9003.070313   4.314846e+10    1
5/5/2021    53252.164060  57911.363280  52969.054690  57424.007810  57424.007810  6.924132e+10    1
                                                                                                 ..
12/29/2016  975.125000    979.396973    954.502991    973.497009    973.497009    1.993200e+08    1
12/29/2017  14695.799810  15279.000000  14307.000000  14656.200200  14656.200200  1.302550e+10    1
12/29/2018  3932.491699   3963.758789   3820.408691   3820.408691   3820.408691   4.991656e+09    1
12/29/2019  7317.647461   7513.948242   7279.865234   7422.652832   7422.652832   2.244526e+10    1
9/9/2021    45774.742190  47261.949220  45669.738280  46391.421880  46391.421880  3.867266e+10    1
Length: 2683, dtype: int64

In [13]:
#df['new_date'] = pd.to_datetime(df['old_date'].astype(str))
btc_val['Date'] = pd.to_datetime(btc_val['Date'].astype(str))
btc_val.value_counts()

Date        Open          High          Low           Close         Adj Close     Volume
2014-09-17  465.864014    468.174011    452.421997    457.334015    457.334015    2.105680e+07    1
2019-08-04  10821.632810  11009.207030  10620.278320  10970.184570  10970.184570  1.653089e+10    1
2019-08-06  11811.544920  12273.821290  11290.731450  11478.168950  11478.168950  2.363511e+10    1
2019-08-07  11476.193360  12036.990230  11433.701170  11941.968750  11941.968750  2.219499e+10    1
2019-08-08  11954.040040  11979.419920  11556.167970  11966.407230  11966.407230  1.948159e+10    1
                                                                                                 ..
2017-02-28  1180.719971   1193.250000   1171.819946   1179.969971   1179.969971   1.849560e+08    1
2017-03-01  1180.040039   1222.500000   1179.689941   1222.500000   1222.500000   2.290570e+08    1
2017-03-02  1224.680054   1262.130005   1215.619995   1251.010010   1251.010010   3.682750e+08    1
2017-03-03  1250.709961   1280.310059   1250.709961   1274.989990   1274.989990   3.157390e+08    1
2022-01-20  41736.527340  43381.250000  41724.464840  42663.968750  42663.968750  1.720060e+10    1
Length: 2683, dtype: int64

In [17]:
start_date = btc_val.Date.min()
#will need this to remove all date before it from other datasets.
start_date

Timestamp('2014-09-17 00:00:00')

In [18]:
crypto_index = pd.read_csv('../data/cmc200.csv')
oil = pd.read_csv('../data/crude_oil.csv')
dow  = pd.read_csv('../data/dji.csv')
euro  = pd.read_csv('../data/eur_usd.csv')
gbp  = pd.read_csv('../data/gbp_usd.csv')
gold = pd.read_csv('../data/gold.csv')
yen  = pd.read_csv('../data/jpy_usd.csv')
nasdaq  = pd.read_csv('../data/nasdaq.csv')
silver  = pd.read_csv('../data/silver.csv')
sp500  = pd.read_csv('../data/sp500.csv')

In [ ]:
#data is read in, lets filter it to not have any data before start_date